.project
.pydevproject
.coverage
.settings/*
geckodriver.log
db.sqlite3
taskbuster/__pycache__/*
taskbuster/db.sqlite3
taskbuster/__init__.py
taskbuster/settings/__pycache__/*
taskbuster/settings/__init__.py
htmlcov/*
functional_tests/__pycache__/*.pyc
taskbuster/fixtures/*
taskbuster/apps/__pycache__/*
taskbuster/apps/taskmanager/__pycache__/*
taskbuster/apps/taskmanager/migrations/*
